/*UTILITIES*/
.border {
    border: 2px dashed black;
}

/*HEADER*/
header {
    background-color:rgb(44,62,80);
    height: 75px;
    color: white;
}

/*SECTION 1*/
#start {
    background-color: rgb(26,188,156);
    height: 350px;
}

/*SECTION 2*/
#portfolio {
    height: 500px;
}

/*SECTION 3*/
#about {
    background-color: rgb(26,188,156);
    height: 250px; 
}

/*SECTION 4*/
#contact {
    height: 400px;
}

.border-bottom {
    border-bottom: 2px grey solid;
}

/*SECTION 5*/
#location {
    height: 150px;
    background-color: rgb(58,84,109);
}

/*FOOTER*/
footer {
    background-color: rgb(44,62,80);
    height: 50px;
}